name: Deploy Lambda

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Zip only Python code
        run: |
          # Only zip .py files (and folders if needed) 
          # This avoids zipping hidden .git folders or the YAML itself
          zip -r function.zip . -x "*.git*" ".github/*"

      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Double check this is your region!

      - name: Push to Lambda
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            FUNCTION_NAME="analytics-backend"
          else
            FUNCTION_NAME="analytics-backend-dev"
          fi
          aws lambda update-function-code --function-name $FUNCTION_NAME --zip-file fileb://function.zip